/docs/_build/
.DS_Store
__pycache__/
*.py[cod]
dist/
build/
*.egg-info/
.coverage*
auto_replace_tag/
corrected.gff3
error.txt
example-sorted.gff3
merged.gff
merged_report.txt
statistic.txt
test_sequences_*.fa
tmp_cds.fa.*
gff3tool/lib/ncbi-blast+/